/* CONTACT */

#contact {
  padding: 60px 0;
  text-align: center;
}

#contact h3 {
  width: 400px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #02b8dd;
}

#contact p {
  padding: 0 30px;
  line-height: normal;
}

.button-3 {
  color: #fff;
  font-size: 20px;
  padding: 11px;
  background-color: #ff7a00;
  border-style: none;
  border-radius: 6px;
}
